# Virtual Environments
venv/
.venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS Specific
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment Variables
.env

# Project Specific
*.log
Deployment/__pycache__/
Deployment/*.pyc