<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Prediction Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card mt-5 p-4">
            <h2 class="text-center">Depression Prediction Form</h2>
            <form id="depresi-form">
                <!-- Pilihan Profesi -->
                <div class="form-group">
                    <label for="professionType">Profession Type</label>
                    <select class="form-control" id="workingProfessionalOrStudent" required>
                        <option value="">Select Profession Type</option>
                        <option value="student">Student</option>
                        <option value="working">Working Professional</option>
                    </select>
                </div>

                <!-- Form untuk Student -->
                <div id="student-form" class="d-none">
                    <div class="form-group">
                        <label for="student-age">Age</label>
                        <input type="number" class="form-control" id="student-age" required>
                    </div>
                    <div class="form-group">
                        <label for="academicPressure">Academic Pressure (1-5)</label>
                        <select class="form-control" id="academicPressure" required>
                            <option value="">Select Academic Pressure</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cgpa">CGPA</label>
                        <input type="number" class="form-control" id="cgpa" required>
                    </div>
                    <div class="form-group">
                        <label for="studySatisfaction">Study Satisfaction (1-5)</label>
                        <select class="form-control" id="studySatisfaction" required>
                            <option value="">Select Study Satisfaction</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentWorkStudyHours">Work/Study Hours</label>
                        <input type="number" class="form-control" id="studentWorkStudyHours" required>
                    </div>
                    <div class="form-group">
                        <label for="studentFinancialStress">Financial Stress (1-5)</label>
                        <select class="form-control" id="studentFinancialStress" required>
                            <option value="">Select Financial Stress</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="student-gender">Gender</label>
                        <select class="form-control" id="student-gender" required>
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentSleepDuration">Sleep Duration</label>
                        <select class="form-control" id="studentSleepDuration" required>
                            <option value="">Select Sleep Duration</option>
                            <option value="less_than_5">Less than 5 hours</option>
                            <option value="5_6">5-6 hours</option>
                            <option value="7_8">7-8 hours</option>
                            <option value="more_than_8">More than 8 hours</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentDietaryHabits">Dietary Habits</label>
                        <select class="form-control" id="studentDietaryHabits" required>
                            <option value="">Select Dietary Habits</option>
                            <option value="moderate">Moderate</option>
                            <option value="unhealthy">Unhealthy</option>
                            <option value="healthy">Healthy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentHaveYouEverHadSuicidalThoughts">Have you ever had suicidal thoughts?</label>
                        <select class="form-control" id="studentHaveYouEverHadSuicidalThoughts" required>
                            <option value="">Select</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentFamilyHistoryofMentalIllnes">Family History of Mental Illness</label>
                        <select class="form-control" id="studentFamilyHistoryofMentalIllnes" required>
                            <option value="">Select</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>
                </div>

                <!-- Form untuk Working Professional -->
                <div id="working-form" class="d-none">
                    <div class="form-group">
                        <label for="working-age">Age</label>
                        <input type="number" class="form-control" id="working-age" required>
                    </div>
                    <div class="form-group">
                        <label for="workPressure">Work Pressure (1-5)</label>
                        <select class="form-control" id="workPressure" required>
                            <option value="">Select Work Pressure</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="jobSatisfaction">Job Satisfaction (1-5)</label>
                        <select class="form-control" id="jobSatisfaction" required>
                            <option value="">Select Job Satisfaction</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="workStudyHours">Work/Study Hours</label>
                        <input type="number" class="form-control" id="workStudyHours" required>
                    </div>
                    <div class="form-group">
                        <label for="financialStress">Financial Stress (1-5)</label>
                        <select class="form-control" id="financialStress" required>
                            <option value="">Select Financial Stress</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="working-gender">Gender</label>
                        <select class="form-control" id="working-gender" required>
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sleepDuration">Sleep Duration</label>
                        <select class="form-control" id="sleepDuration" required>
                            <option value="">Select Sleep Duration</option>
                            <option value="less_than_5">Less than 5 hours</option>
                            <option value="5_6">5-6 hours</option>
                            <option value="7_8">7-8 hours</option>
                            <option value="more_than_8">More than 8 hours</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dietaryHabits">Dietary Habits</label>
                        <select class="form-control" id="dietaryHabits" required>
                            <option value="">Select Dietary Habits</option>
                            <option value="moderate">Moderate</option>
                            <option value="unhealthy">Unhealthy</option>
                            <option value="healthy">Healthy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="haveYouEverHadSuicidalThoughts">Have you ever had suicidal thoughts?</label>
                        <select class="form-control" id="haveYouEverHadSuicidalThoughts" required>
                            <option value="">Select</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="familyHistoryofMentalIllnes">Family History of Mental Illness</label>
                        <select class="form-control" id="familyHistoryofMentalIllnes" required>
                            <option value="">Select</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>
                </div>

                <!-- Form Input Umum -->
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>

            <div id="result" class="mt-4"></div>
        </div>
    </div>

    <script src="../static/depresi.js"></script>
    <script>
        // Script untuk menangani perubahan profession type
        document.getElementById('workingProfessionalOrStudent').addEventListener('change', function() {
            const professionType = this.value;

            // Sembunyikan kedua form
            document.getElementById('student-form').classList.add('d-none');
            document.getElementById('working-form').classList.add('d-none');

            // Tampilkan form sesuai profession type yang dipilih
            if (professionType === 'student') {
                document.getElementById('student-form').classList.remove('d-none');
            } else if (professionType === 'working') {
                document.getElementById('working-form').classList.remove('d-none');
            }
        });
    </script>
</body>
</html>
